<div class="container">
  <app-mart></app-mart>
  <app-cart></app-cart>
</div>

<div class="container2">
  <div>
    <h2>BILL</h2>
    <h3>Item sold:</h3>
    <ul>
      <li>
        banana : 2 * Rs 50 = Rs 100
      </li>
      <li>
        apple : 2 * Rs 150 = Rs 300
      </li>
    </ul>
    <h2 style="color: rgb(221, 13, 13);">Total Sale : Rs {{totalBill}}</h2>
    <button (click)="buy()">Checkout all Items</button>
    <h2 style="color: green;">Wallet Amount : Rs {{walletAmount}} </h2>
  </div>
</div>